@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap");

:root {
    --width_wrapper_form_added: 300px;
    --height_form_container_text: 70px;
    --hard_grey_color: #333;
    --middle_grey_color: #ccc;
    --grey_color: #eee;
    --white_color: #fff;
    --blue_color: #007bff;
    --orange_color: rgb(252, 133, 7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.wrapper_form_added {
    overflow-x: hidden;
    overflow-y: auto;
    width: var(--width_wrapper_form_added);
    height: 100vh;
    border-right: 1px solid var(--grey_color);
}

.wrapper_goods {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - var(--width_wrapper_form_added));
    height: 100vh;
    padding: 10px 0;
}

.label {
    font-size: 1.5rem;
    color: var(--hard_grey_color);
    padding-left: 5px;
}

.input_text {
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    outline: none;
}

.input_text.title,
.input_text.description_full,
.input_text.description_promo,
.input_text.price,
.input_text.urlImage {
    margin-bottom: 5px;
}

.warning {
    font-style: italic;
    font-size: 9px;
}

.input_text:hover {
    padding: 4px 9px;
    border: 2px solid var(--blue_color);
}

.input_text:focus {
    background-color: var(--grey_color);
}

.form_container.text {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - var(--height_form_container_text));
    padding: 10px;
}

.form_container.btn {
    overflow: hidden;
    width: 100%;
    height: var(--height_form_container_text);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.btn_submit,
.btn_clear {
    cursor: pointer;
    width: 45%;
    padding: 0.375rem 0.75rem;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    background-color: var(--blue_color);
    font-size: 1rem;
    color: var(--white_color);
}

/* Card */
.cards_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card {
    cursor: pointer;
    width: 285px;
    height: 380px;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    box-shadow: 0 0 10px 0 var(--grey_color);
    transition: box-shadow 0.5s linear;
    margin: 10px;
}

.card:hover {
    box-shadow: none;
    transition: box-shadow 0.5s linear;
}

.card_img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 180px;
    padding: 10px;
    border-bottom: 1px solid var(--grey_color);
}

.card_img img {
    width: 150px;
}

.card_title {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}

.card_description {
    padding: 0 10px;
    height: 100px;
    font-size: 12px;
    color: var(--hard_grey_color);
    text-align: justify;
}

.card_data {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.card_data__price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    color: var(--orange_color);
}

.card_data__quantity {
    width: 50%;
    color: var(--middle_grey_color);
}

.title_quantity {
    font-size: 12px;
}
