@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50vh;
}

.title p {
    font-size: 72px;
    font-weight: bold;
}

.title span {
    font-size: 105px;
    color: red;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 50vh;
    padding: 10px 30px;
}

.search {
    position: relative;
    left: 50px;
    width: calc(100vw - 200px);
    height: 35px;
    padding: 0 10px;
    border: 2px solid #fc0;
    border-radius: 10px;
    outline: none;
}

.btn_submit {
    position: relative;
    cursor: pointer;
    right: 50px;
    width: 100px;
    height: 35px;
    border: 2px solid #fc0;
    border-radius: 0 10px 10px 0;
    color: #fff;
    background-color: #fc0;
    transition: background-color .5s linear, border .5s linear;
}

.btn_submit:hover {
    background-color: #f5c400;
    border: 2px solid #f5c400;
    transition: background-color .5s linear, border .5s linear;
}