@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 #ddd;
    transition: box-shadow .5s linear;
}

.form_container:hover {
    box-shadow: none;
    transition: box-shadow .5s linear;
}

.form_container__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.title {
    cursor: default;
    color: #fff;
    text-shadow:
            1px 1px 1px #ccc,
            -1px -1px 1px #ccc,
            1px -1px 1px #ccc,
            -1px 1px 1px #ccc;
}

.form_container__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 170px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.input_login, .input_pass, .btn_submit, .btn_reset {
    padding: 5px 10px;
}

.input_login, .input_pass {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 3px;
    font-size: 12px;
    font-style: italic;
    transition: background-color .5s linear, border .5s linear;
}

.input_login:hover, .input_pass:hover {
    background-color: #eee;
    transition: background-color .5s linear, border .5s linear;
}

.input_login:focus, .input_pass:focus {
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    transition: background-color .5s linear, border .5s linear;
}

.sub_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.sup {
    cursor: default;
    color: #ccc;
    font-size: 10px;
    font-style: italic;
}

.btn_submit, .btn_reset {
    cursor: pointer;
    width: 100px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 3px;
    transition: background-color .5s linear, border .5s linear, color .5s linear;
}

.btn_submit:hover, .btn_reset:hover {
    color: #ccc;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    transition: background-color .5s linear, border .5s linear, color .3s linear;
}

.btn_submit {
    margin-right: 10px;
}

.form_container__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}